<div class="container mx-auto px-6 py-8" data-controller="modal kanban" 
     data-kanban-url-value="<%= update_card_board_tasks_path(@board) %>">
  <!-- Board Header -->
  <div class="mb-8">
    <%= render 'board_header' %>
  </div>
  <!-- Kanban Board -->
  <%= render 'kanban_board' %>
  <!-- All Modals -->
  <!-- New Task Modal -->
  <%= render 'boards/modals/new_task_modal' %>
  <!-- New Card Modal -->
  <%= render 'boards/modals/new_card_modal' %>
  <!-- Edit Board Modal -->
  <%= render 'boards/modals/edit_board_modal' %>
  <!-- Managers Modal -->
  <%= render 'boards/modals/managers_modal' %>
  <!-- Edit Card Modal -->
  <%= render 'boards/modals/edit_card_modal' %>
  <!-- Delete Card Modal -->
  <%= render 'boards/modals/delete_card_modal' %>
</div>
